<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:url" content="https://alts.shop/">
    <title>Alts.shop - Cheap alts and quality minecraft accounts</title>
    <meta name="title" content="Alts.shop - Cheap alts and quality minecraft accounts">
    <meta property="og:title" content="Alts.shop - Cheap alts and quality minecraft accounts">
    <meta itemprop="name" content="Alts.shop - Cheap alts and quality minecraft accounts">
    <meta name="description"
        content="Alts shop offers reliability, with cheap and high-quality accounts. Offering replacements for VPN & Minecraft accounts.">
    <meta property="og:description" content="Alts shop offers reliability, with cheap and high-quality accounts. Offering replacements for VPN & Minecraft accounts.">
    <meta name="author" content="superjay204">
    <meta name="keywords"
        content="Minecraft accounts, minecraft alts, minecraft cheap accounts, cheap minecraft accounts, minecraft account, cheap alts, minecraft cheap alts, cheap minecraft alts, minecraft shop, minecraft alts shop, minecraft alt shop store, minecraft alt shop, minecraft unmigrated accounts, mc accounts, mc alts, non full access account, minecraft non full access accounts, minecraft full access account, minecraft nfa, minecraft ufa, minecraft sfa, minecraft full access alts, minecraft cheap alt accounts, how to buy cheap alt accounts, how to get minecraft accounts, get cheap minecraft accounts, cheap minecraft alts shop, buy cheap minecraft accounts, how to get free minecraft accounts, minecraft discord alts, minecraft discord alts shop, minecraft lifetime access, minecraft lifetime warranty accounts, nfa accounts, ufa accounts, sfa accounts, semi full access minecraft, minecraft semi full access accounts, minecraft full access alts and accounts, spotify alts, cheap spotify accounts, cheap spotify premium accounts, spotify premium for free, spotify premium alt list, minecraft alt lists, vyprvpn shop, cheap vyprvpn, minecraft cracked accounts, minecraft cracked list, minecraft list, minecraft account list, minecraft account shop, cheap optifine cape, minecraft optifine cape, minecraft minecon cape, minecraft cheap minecon cape, how to get minecon cape account, minecon cape account list, cheap minecon cape, minecon cape leaked, minecraft accounts leaked, minecraft free cracked accounts list, minecraft alts list leaked, minecraft alt generator, minecraft cheap alts and accounts for free, email access, minecraft email access, minecraft market, minecraft shop market, minecraft minecon capes, minecraft capes for free, minecraft cape cheap, minecreft cheap minecon capes, mincraft cheap cape accounts, minecraft cheap cape, minecraft hypixel accounts, minecraft ranked accounts, minecraft hypixel ranked accounts, cheap hypixel accounts, minecraft alts ranked, minecraft ranked accounts, minecraft unbanned accounts, minecraft unbanned alts, minecraft unbanned accounts, minecraft hypxel level, minecraft hypixel leveled accounts, minecraft hypixel nfa, minecraft hypixel leveled sfa, nordvpn cheap, nordvpn download, nordvpn account list, nordvpn free cheap premium, nordvpn cract, nordvpn cheap account, nordvpn account list, nordvpn cheap accounts, bypass ip bans with vpn, minecraft bypass ipban with VPN, alts.shop, alts shop, altshop, altsshop, alt shop, alt store, alts store, alt shop minecraft, alt shop free, alt shop easy, alt shop reliable, alt shop cheap">
    <meta name="theme-color" content="#593196">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png" />

    <!-- CSS -->
    <!-- CSS only -->
    <link href="/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <style>
        body {
            overflow-y: scroll !important;
        }
    </style>
    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.bootstrap.min.js" async></script>
    <!-- End TrustBox script -->
</head>

<body>
  
  <%- include ('blocks/navbar') %>
  
      <div class="social-media">
        <a href="https://discord.com/invite/n8XXm9p" rel="noreferrer" target="_blank"><img alt="Discord" src="images/discordicon.png"></a>
        <a href="https://selly.io/query/new/92e5542b" rel="noreferrer" target="_blank"><i class="far fa-envelope"
                aria-hidden="true"></i></a>
    </div>
    <!-- Navigation -->
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="#">ALTS.SHOP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                BUY
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/migrate">
                                MIGRATE
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" rel="noreferrer" href="https://discord.com/invite/n8XXm9p">DISCORD</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="overlay"></div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">

            <!-- /.col-lg-3 -->
            <div class="col-lg-12"><br>
                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner active" role="listbox">
                        <div class="carousel-item active">
                            <img class="d-block img-fluid" src="./images/slider1.jpg" alt="Welcome to the #1 alt shop!">
                        </div>
                        <div class="carousel-item">
                            <a target="blank_" href="https://alts.shop/discord1.html"><img class="d-block img-fluid"
                                    src="images/discordslider1.jpg" alt="Join our discord server!"></a>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block img-fluid" src="./images/altshopslider2.jpg"
                                alt="Free replacements, private alts and lifetime warrenty on all our products!">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <div class="">
                    <div style="text-align: center;">
                        <a href="#minecraft" class="btn btn-rez" style="display: inline-block;">Minecraft</a>
                        <a href="#vpn" class="btn btn-rez" style="display: inline-block;">VPN</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12" style="padding: 3rem; text-align: center;">
                        <a href="https://trustpilot.com/review/alts.website" target="_blank" rel="noopener"
                            style="max-width: 320px; display: inline-block;">
                            <img src="./images/trustpilot.png" style="max-width: 100%" alt="Trustpilot">
                        </a>
                        <p style="margin-top: 1rem">
                            Soon we won't longer be able to get and sell UFA's, if you still wanna buy a UFA we
                            recommend you buying as fast as possible.
                        </p>
                    </div>
                    <h1 class="rezende-title" id="minecraft"><b>Minecraft Accounts</b></h1>
                    <div class="row">
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a data-selly-product="a509673e" href="javascript:;"><img class="card-img-top"
                                        src="images/NFA.jpg" alt="Alt account product. Minecraft Alts NFA."></a>
                                <div class="card-body">
                                  <h4 class="card-title">
                                      <a data-selly-product="a509673e" href="javascript:;">Minecraft NFA (Cheap)</a>
                                  </h4>
                                  <h5>$0.01</h5>
                                  <p class="card-text">You are able to login and play! The best quality NFA, your own
                                      fresh and private cheap alts! 99% is unbanned.</p>
                                  <a href="/product/minecraft/non-full-access">More details</a>
                                </div>
                                <div class="card-footer">
                                    <button data-selly-product="a509673e" class="btn btn-custompurple">Buy</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100 feature">
                                <a data-selly-product="89112589" href="javascript:;"><img class="card-img-top"
                                        src="images/UFA.jpg" alt="Product to UFA. Cheap and reliable. Shop today."></a>
                                <div class="card-body">
                                  <h4 class="card-title">
                                  <a data-selly-product="89112589" href="javascript:;">Minecraft UFA (Lifetime)</a>
                                  </h4>
                                  <h5>$11.50</h5>
                                  <p class="card-text">You can easily migrate these 🔥 UFA's at
                                      account.mojang.com/migrate, full access! They are all unbanned!</p>
                                  <a href="/product/minecraft/unmigrated-full-access">More details</a>
                                </div>
                                <div class="card-footer">
                                    <button data-selly-product="89112589" class="btn btn-custompurple">🔥Buy🔥(high
                                        demand)</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a data-selly-product="92e5542b" href="javascript:;"><img class="card-img-top"
                                        src="images/SFA.jpg"
                                        alt="Cheap product SFA. Purchase reliable service and accounts."></a>
                                <div class="card-body">
                                  <h4 class="card-title">
                                      <a data-selly-product="92e5542b" href="javascript:;">Minecraft SFA</a>
                                  </h4>
                                  <h5><s>$0.20</s> $0.15</h5>
                                  <p class="card-text">You are able to play, change password, skin and username! We
                                      guarantee they are unbanned. Your own, cheap and private SFA!
                                  </p>
                                  <a href="/product/minecraft/semi-full-access">More details</a>
                                </div>
                                <div class="card-footer">
                                    <button data-selly-product="92e5542b" class="btn btn-custompurple">Buy</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a data-selly-product="" href="javascript:;"><img class="card-img-top"
                                        src="images/EA.jpg"
                                        alt="cheap ufa unmigrated nfa fa alts unbanned hypixel cubecraft"></a>
                                <div class="card-body">
                                  <h4 class="card-title">
                                      <a data-selly-product="" href="javascript:;">Minecraft Email Access
                                          (Lifetime)</a>
                                  </h4>
                                  <h5><s>$8.99</s> $5.99</h5>
                                  <p class="card-text">Your own minecraft account! You are given all the necessary
                                      details to access the email & minecraft account!</p>
                                  <a href="/product/minecraft/email-access">More details</a>
                                </div>
                                <div class="card-footer">
                                    <button data-selly-product="" class="btn btn-custompurple disabled">COMING
                                        SOON</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mb-4">
                            <div class="card h-100">
                                <a data-selly-product="10b8d8d6" href="javascript:;"><img class="card-img-top"
                                        src="images/OFCAPE.jpg" alt="Optifine Cape"></a>
                                <div class="card-body">
                                  <h4 class="card-title">
                                      <a data-selly-product="10b8d8d6" href="javascript:;">Optifine Cape</a>
                                  </h4>
                                  <h5>$3.99</h5>
                                  <p class="card-text">An Optifine Cape can be used to give your minecraft character a
                                      nice looking cape! You can easily move the cape to your own account with the
                                      instructions given on optifine.net.</p>
                                  <a href="/product/minecraft/optifine-cape">More details</a>
                                </div>
                                <div class="card-footer">
                                    <button data-selly-product="10b8d8d6" class="btn btn-custompurple">Buy</button>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100">
                    <a data-selly-product="a7dfc2c5" href="javascript:;"><img class="card-img-top" src="images/EA.jpg" alt="cheap ufa unmigrated nfa fa alts unbanned hypixel cubecraft"></a>
                    <div class="card-body">
                        <h4 class="card-title">
                            <a data-selly-product="a7dfc2c5" href="javascript:;">Minecraft Email Access (Lifetime)</a>
                        </h4>
                        <h5><s>$8.99</s> $6.99</h5>
                        <p class="card-text">Those are premigrated UFA accounts! You are giving all the necessary details to access the email & minecraft account!</p>
                    </div>
                    <div class="card-footer">
                        <button data-selly-product="a7dfc2c5" class="btn btn-custompurple">Buy</button>
                    </div>
                </div>
            </div>-->
                        <h1 class="rezende-title" id="vpn"><b>VPN</b></h1>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a data-selly-product="b735295c" href="javascript:;"><img class="card-img-top"
                                            src="images/nordvpn.jpg" alt="NordVPN"></a>
                                    <div class="card-body">
                                      <h4 class="card-title">
                                          <a data-selly-product="b735295c" href="javascript:;">NordVPN</a>
                                      </h4>
                                      <h5><s>$2.25</s> $1.75</h5>
                                      <p class="card-text">Feel safe online and hide your ip-address for only $1.75!
                                          You can also bypass IP-Bans!</p>
                                      <a href="/product/vpn/nordvpn">More details</a>
                                    </div>
                                    <div class="card-footer">
                                        <button data-selly-product="b735295c" class="btn btn-custompurple">Buy</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a data-selly-product="bf3de95c" href="javascript:;"><img class="card-img-top"
                                            src="images/vyprvpn.jpg" alt="VyprVPN"></a>
                                    <div class="card-body">
                                      <h4 class="card-title">
                                          <a data-selly-product="bf3de95c" href="javascript:;">VyprVPN</a>
                                      </h4>
                                      <h5>$4.50</h5>
                                      <p class="card-text">We recommend this vpn for bypassing IP-Bans! Very secure
                                          VPN and easy to use.</p>
                                      <a href="/product/vpn/vyprvpn">More details</a>
                                    </div>
                                    <div class="card-footer">
                                        <button data-selly-product="bf3de95c" class="btn btn-custompurple">Buy</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="card h-100">
                                    <a data-selly-product="a041eb9b" href="javascript:;"><img class="card-img-top"
                                            src="images/ipvanish.jpg" alt="IPVanish"></a>
                                    <div class="card-body">
                                      <h4 class="card-title">
                                          <a data-selly-product="a041eb9b" href="javascript:;">IPVanish</a>
                                      </h4>
                                      <h5>$3.99</h5>
                                      <p class="card-text">Surf the web without a trace! Very secure and easy for
                                          bypassing IP-Bans.</p>
                                      <a href="/product/vpn/ipvanish">More details</a>
                                    </div>
                                    <div class="card-footer">
                                        <button data-selly-product="a041eb9b" class="btn btn-custompurple">Buy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.col-lg-9 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5">
            <div class="container">
                <p class="m-0 text-center">Copyright 2020 &copy; <a href="https://alts.shop">alts.shop</a></p>
                <p class="m-0 text-center">Alts.shop is in no way affiliated with Mojang, AB. Nor should it be
                    considered a company or trademark endorsed by Mojang, AB.</p>
            </div><br>
            <!-- TrustBox widget - Micro Review Count -->
            <div class="trustpilot-widget" data-locale="en-US" data-template-id="5419b6a8b0d04a076446a9ad"
                data-businessunit-id="5d681b09ef620200012de3fc" data-style-height="24px" data-style-width="100%"
                data-theme="light">
                <a href="https://www.trustpilot.com/review/alts.website" target="_blank" rel="noopener">Trustpilot</a>
            </div>
            <!-- End TrustBox widget -->
            <!-- /.container -->
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script src="public/vendor/jquery/jquery.min.js"></script>
        <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- selly.gg script -->
        <script src="https://embed.selly.gg/"></script>
</body>

</html>