<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Alts.shop Minecraft Account - Optifine Cape</title>
    <meta name="description" content="An Optifine Cape can be used to give your minecraft character a nice looking cape!">

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="Alts.shop Minecraft Account - Optifine Cape">
    <meta itemprop="description" content="An Optifine Cape can be used to give your minecraft character a nice looking cape!">
    <meta itemprop="image" content="https://<%=domain%>/images/OFCAPE.jpg">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://altsshop.glitch.me/product/minecraft/optifine-cape">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Alts.shop Minecraft Account - Optifine Cape">
    <meta property="og:description" content="An Optifine Cape can be used to give your minecraft character a nice looking cape!">
    <meta property="og:image" content="https://<%=domain%>/images/OFCAPE.jpg">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Alts.shop Minecraft Account - Optifine Cape">
    <meta name="twitter:description" content="An Optifine Cape can be used to give your minecraft character a nice looking cape!">
    <meta name="twitter:image" content="https://<%=domain%>/images/OFCAPE.jpg">
  
    <meta name="author" content="superjay204">
    <meta name="keywords"
        content="Minecraft accounts, minecraft alts, minecraft cheap accounts, cheap minecraft accounts, minecraft account, cheap alts, minecraft cheap alts, cheap minecraft alts, minecraft shop, minecraft alts shop, minecraft alt shop store, minecraft alt shop, minecraft unmigrated accounts, mc accounts, mc alts, non full access account, minecraft non full access accounts, minecraft full access account, minecraft nfa, minecraft ufa, minecraft sfa, minecraft full access alts, minecraft cheap alt accounts, how to buy cheap alt accounts, how to get minecraft accounts, get cheap minecraft accounts, cheap minecraft alts shop, buy cheap minecraft accounts, how to get free minecraft accounts, minecraft discord alts, minecraft discord alts shop, minecraft lifetime access, minecraft lifetime warranty accounts, nfa accounts, ufa accounts, sfa accounts, semi full access minecraft, minecraft semi full access accounts, minecraft full access alts and accounts, spotify alts, cheap spotify accounts, cheap spotify premium accounts, spotify premium for free, spotify premium alt list, minecraft alt lists, vyprvpn shop, cheap vyprvpn, minecraft cracked accounts, minecraft cracked list, minecraft list, minecraft account list, minecraft account shop, cheap optifine cape, minecraft optifine cape, minecraft minecon cape, minecraft cheap minecon cape, how to get minecon cape account, minecon cape account list, cheap minecon cape, minecon cape leaked, minecraft accounts leaked, minecraft free cracked accounts list, minecraft alts list leaked, minecraft alt generator, minecraft cheap alts and accounts for free, email access, minecraft email access, minecraft market, minecraft shop market, minecraft minecon capes, minecraft capes for free, minecraft cape cheap, minecreft cheap minecon capes, mincraft cheap cape accounts, minecraft cheap cape, minecraft hypixel accounts, minecraft ranked accounts, minecraft hypixel ranked accounts, cheap hypixel accounts, minecraft alts ranked, minecraft ranked accounts, minecraft unbanned accounts, minecraft unbanned alts, minecraft unbanned accounts, minecraft hypxel level, minecraft hypixel leveled accounts, minecraft hypixel nfa, minecraft hypixel leveled sfa, nordvpn cheap, nordvpn download, nordvpn account list, nordvpn free cheap premium, nordvpn cract, nordvpn cheap account, nordvpn account list, nordvpn cheap accounts, bypass ip bans with vpn, minecraft bypass ipban with VPN, alts.shop, alts shop, altshop, altsshop, alt shop, alt store, alts store, alt shop minecraft, alt shop free, alt shop easy, alt shop reliable, alt shop cheap">
    <meta name="theme-color" content="#593196">
    <link rel="shortcut icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="./images/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="./images/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="./images/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="./images/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="./images/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="./images/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-touch-icon-180x180.png" />

    <!-- CSS -->
    <!-- CSS only -->
    <link href="../../vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../../stylesheets/style.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <style>
        body {
            overflow-y: scroll !important;
        }
    </style>
</head>

<body>
    <div class="social-media">
        <a href="https://discord.com/invite/n8XXm9p" rel="noreferrer" target="_blank"><img alt="Discord" src="../../images/discordicon.png"></a>
        <a href="https://selly.io/query/new/92e5542b" rel="noreferrer" target="_blank"><i class="far fa-envelope"
                aria-hidden="true"></i></a>
    </div>
    <!-- Navigation -->
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="/">ALTS.SHOP</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">
                                BACK
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/migrate">
                                MIGRATE
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" target="_blank" rel="noreferrer" href="https://discord.com/invite/n8XXm9p">DISCORD</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="overlay"></div>

    <!-- Page Content -->
    <div class="container">
        <div class="row">
          <center>
              <div class="col-lg-6 col-md-3 mb-2">
                <div class="card h-100 feature">
                  <a data-selly-product="10b8d8d6" href="javascript:;"><img class="card-img-top"
                          src="../../images/OFCAPE.jpg" alt="Alt account product. Minecraft Alts Optifine Cape."></a>
                  <div class="card-body">
                    <h4 class="card-title">
                        <a data-selly-product="10b8d8d6" href="javascript:;">Optifine Cape</a>
                    </h4>
                    <h5>$3.99</h5>
                    <h4>
                    Your own Optifine Cape can be used to give your Minecraft character a nice look! You can easily move the cape to your own account with the instructions given on <a href="https://optifine.net" target="_blank">optifine.net</a>.
                </h4>
                  </div>
                  <div class="card-footer">
                      <button data-selly-product="10b8d8d6" class="btn btn-custompurple">BUY</button>
                  </div>
                </div>
              </div>
            </center>
                <!-- /.col-lg-9 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
        <!-- Footer -->
        <footer class="py-5">
            <div class="container">
                <p class="m-0 text-center">Copyright 2020 &copy; <a href="https://alts.shop">alts.shop</a></p>
                <p class="m-0 text-center">Alts.shop is in no way affiliated with Mojang, AB. Nor should it be
                    considered a company or trademark endorsed by Mojang, AB.</p>
            </div><br>
            <!-- /.container -->
        </footer>
        <!-- Bootstrap core JavaScript -->
        <script src="public/vendor/jquery/jquery.min.js"></script>
        <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- selly.gg script -->
        <script src="https://embed.selly.gg/"></script>
</body>

</html>